# Application Port
PORT=5000

# Database Connection String
# Replace <user> and <your-password> with your local PostgreSQL credentials
DATABASE_URL="postgresql://<user>:<your-password>@localhost:5432/identity_core?schema=public"